@using YemekTarifleri.Controllers;
@{
    ViewData["Title"] = "Tarif Detay";
    Recipe recipe = ViewBag.RecipeWithUser;
    var userNameAndSurname = "name And Surname";
    var userName = "username";
    var avatarPath = "https://dummyimage.com/50x50/ced4da/6c757d.jpg";

    if (recipe.user != null) {
        userNameAndSurname = recipe.user.nameAndSurname;
        userName = recipe.user.userName;
        avatarPath = recipe.user.avatar;
    }
    User? currentUser = UserInfo.getUser();
    List<Comment>? comments = ViewBag.CommentsWithUsers;

    double totalstar = 0;

    foreach (var comment in comments)
    {
        totalstar += (comment.point ?? 0);
    }

    int averagePoint = (int)(totalstar / comments.Count);


    var modelState = ViewData.ModelState;
    var clientValidationEnabled = ViewContext.ClientValidationEnabled;
}
@if (recipe != null)
    {
    <main class="flex-shrink-0">
        <section class="py-5">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-3">
                        <div class="d-flex align-items-center mt-lg-5 mb-4">
                            <img class="img-fluid rounded-circle" style="max-width:150px" src=@avatarPath alt="..." />
                            <div class="ms-3">
                                <div class="fw-bold">@userNameAndSurname</div>
                                <div class="text-muted">@userName</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <!-- Post content-->
                        <article>
                            <!-- Post header-->
                            <header class="mb-4">
                                <!-- Post title-->
                                <h1 class="fw-bolder mb-1">@recipe.name</h1>
                                <div>
                                    @for (var i = 0; i < averagePoint; i++)
                                    {
                                        <span class="fa fa-star star-active mx-1"></span>
                                    }
                                    @for (var i = 0; i < 5 - averagePoint; i++)
                                    {
                                        <span class="fa fa-star star-inactive mx-1"></span>
                                    }
                                </div>
                                <!-- Post meta content-->
                                <div class="text-muted fst-italic mb-2">@recipe.date</div>
                            </header>
                            <!-- Preview image figure-->
                            @if (recipe.image != null)
                            {
                                <figure class="mb-4"><img class="img-fluid " style="border-radius:4%;" src=@recipe.image alt="..." /></figure>
                            }
                            else
                            {
                                <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure>
                            }

                            <!-- Post content-->
                            <section class="mb-5">
                                <h2 class="fw-bolder mb-4 mt-5">İçindekiler:</h2>
                                @if (recipe.ingredients != null)
                                {
                                    <p class="fs-5 mb-4">@recipe.ingredients</p>
                                }
                                else
                                {
                                    <p class="fs-5 mb-4">İçindekiler Girilmedi</p>
                                }
                                <h2 class="fw-bolder mb-4 mt-5">@recipe.name Nasıl Yapılır?</h2>
                                @if (recipe.cooking != null)
                                {
                                    <p class="fs-5 mb-4">@recipe.cooking</p>
                                }
                                else
                                {
                                    <p class="fs-5 mb-4">Tarifin Yapılışı paylaşılmadı</p>
                                }
                            </section>
                        </article>


                        <section>
                            <div class="card bg-light">
                                @if (currentUser != null)
                                {
                                    <form action="/DetailRecipe/postComment" method="post">
                                        @if (!modelState.IsValid && clientValidationEnabled)
                                        {
                                            <div class="text-danger">
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            </div>
                                        }
                                        <div class="comment-card comment-body">

                                            <div class="row">

                                                <div class="col-1">

                                                    <img src="@currentUser?.avatar" width="70" class="rounded-circle mt-2">

                                                </div>

                                                <div class="col-9">

                                                    <div class="comment-box ml-2">

                                                        <h4>@currentUser?.nameAndSurname</h4>

                                                        <div class="rating">
                                                            <input type="radio" name="point" value="5" id="5"><label for="5">☆</label>
                                                            <input type="radio" name="point" value="4" id="4"><label for="4">☆</label>
                                                            <input type="radio" name="point" value="3" id="3"><label for="3">☆</label>
                                                            <input type="radio" name="point" value="2" id="2"><label for="2">☆</label>
                                                            <input type="radio" name="point" value="1" id="1"><label for="1">☆</label>
                                                        </div>

                                                        <div class="comment-area">

                                                            <textarea class="form-control" name="contents" placeholder="Yemek hakkındaki düşüncelerin?" rows="4"></textarea>

                                                        </div>

                                                        <div class="comment-btns mt-2">

                                                            <div class="row">
                                                                <div class="col-15">

                                                                    <div class="pull-right" style="text-align:right">

                                                                        <input type="hidden" name="recipeId" value="@recipe.id" />
                                                                        <button class="btn btn-success send btn-sm">Paylaş <i class="fa fa-long-arrow-right ml-1"></i></button>

                                                                    </div>

                                                                </div>

                                                            </div>

                                                        </div>


                                                    </div>

                                                </div>


                                            </div>

                                        </div>
                                    </form>

                                        }
                                        else
                                        {
                                        <h4>Yorum yapabilmek için <a asp-area="" asp-controller="SignIn" asp-action="SignIn">GİRİŞ</a> yapmalısınız.</h4>
                                        }

                                        <!--comments-->
                                        @if (comments != null && comments.Count > 0)
                                            {

                                                <div class="container mt-5 mb-5">

                                                    <div class="row height d-flex justify-content-center align-items-center">

                                                        <div class="col-md-20">

                                                            <div class="card-comments">

                                                                <div class="mt-5">

                                                                    @foreach (var comment in comments)
                                                                    {
                                                                        <div class="d-flex flex-row p-3">

                                                                            <img src="@comment.user.avatar" width="40" height="40" class="rounded-circle mr-3">

                                                                            <div class="w-100">

                                                                                <div class="d-flex justify-content-between align-items-center">
                                                                                    <div class="d-flex flex-row align-items-center">
                                                                                        <span class="mr-3" style="font-weight:bold ">@comment.user.nameAndSurname</span>
                                                                                    </div>
                                                                                    <small>@comment.date</small>
                                                                                    <div>
                                                                                        @for (var i = 0; i < comment.point; i++)
                                                                                        {
                                                                                            <span class="fa fa-star star-active mx-1"></span>
                                                                                        }
                                                                                        @for (var i = 0; i < 5 - comment.point; i++)
                                                                                        {
                                                                                            <span class="fa fa-star star-inactive mx-1"></span>
                                                                                        }

                                                                 
                                                                                    </div>
                                                                                </div>

                                                                                <p class="text-justify comment-text mb-0">@comment.contents</p>

                                                                            </div>


                                                                        </div>
                                                                    }

                                                                </div>

                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                            

                                        }
                                        else
                                        {
                                            <h5>Bu tarife henüz yorum yapılmadı.</h5>
                                        }

                                </div>
                            
                        </section>

                    </div>
                   
                </div>
            </div>
           
        </section>
    </main>

    }
    else {
        <h1>Sorguda bir hata oluştu</h1>
    }

