
@{
    ViewData["Title"] = "Tarif Detay";
    Recipe recipe = ViewBag.RecipeWithUser;
    var userNameAndSurname = "name And Surname";
    var userName = "username";
    var avatarPath = "https://dummyimage.com/50x50/ced4da/6c757d.jpg";

    if (recipe.user != null) {
        userNameAndSurname = recipe.user.nameAndSurname;
        userName = recipe.user.userName;
        avatarPath = recipe.user.avatar;
    }

}
@if (recipe != null)
    {
    <main class="flex-shrink-0">
        <section class="py-5">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-3">
                        <div class="d-flex align-items-center mt-lg-5 mb-4">
                            <img class="img-fluid rounded-circle" style="max-width:150px" src=@avatarPath alt="..." />
                            <div class="ms-3">
                                <div class="fw-bold">@userNameAndSurname</div>
                                <div class="text-muted">@userName</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <!-- Post content-->
                        <article>
                            <!-- Post header-->
                            <header class="mb-4">
                                <!-- Post title-->
                                <h1 class="fw-bolder mb-1">@recipe.name</h1>
                                <!-- Post meta content-->
                                <div class="text-muted fst-italic mb-2">@recipe.date</div>
                            </header>
                            <!-- Preview image figure-->
                            @if (recipe.image != null)
                            {
                                <figure class="mb-4"><img class="img-fluid rounded" src=@recipe.image alt="..." /></figure>
                            }
                            else
                            {
                                <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure>
                            }

                            <!-- Post content-->
                            <section class="mb-5">
                                <h2 class="fw-bolder mb-4 mt-5">İçindekiler:</h2>
                                @if (recipe.ingredients != null)
                                {
                                    <p class="fs-5 mb-4">@recipe.ingredients</p>
                                }
                                else
                                {
                                    <p class="fs-5 mb-4">İçindekiler Girilmedi</p>
                                }
                                <h2 class="fw-bolder mb-4 mt-5">@recipe.name Nasıl Yapılır?</h2>
                                @if (recipe.cooking != null)
                                {
                                    <p class="fs-5 mb-4">@recipe.cooking</p>
                                }
                                else
                                {
                                    <p class="fs-5 mb-4">Tarifin Yapılışı paylaşılmadı</p>
                                }
                            </section>
                        </article>
                        
                       
                        <section>
                            <div class="card bg-light">
                                <div class="comment-card comment-body">

                                    <div class="row">

                                        <div class="col-1">


                                            <img src="https://i.imgur.com/xELPaag.jpg" width="70" class="rounded-circle mt-2">


                                        </div>

                                        <div class="col-9">

                                            <div class="comment-box ml-2">

                                                <h4>Yorum yap</h4>

                                                <div class="rating">
                                                    <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                                                    <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                                                    <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                                                    <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                                                    <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                                                </div>

                                                <div class="comment-area">

                                                    <textarea class="form-control" placeholder="Yemek hakkındaki düşüncelerin?" rows="4"></textarea>

                                                </div>

                                                <div class="comment-btns mt-2">

                                                    <div class="row">
                                                        <div class="col-15">
                                     
                                                            <div class="pull-right" style="text-align:right">

                                                                <button class="btn btn-success send btn-sm">Paylaş <i class="fa fa-long-arrow-right ml-1"></i></button>

                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>


                                            </div>

                                        </div>


                                    </div>

                                </div>
                                <div class="comments-body">
                                    <div class="container-fluid px-1 py-5 mx-auto">
                                        <div class="row justify-content-center">
                                            <div class="col-xl-7 col-lg-8 col-md-10 col-12 text-center mb-5">
                                                <div class="card">
                                                    <div class="row justify-content-left d-flex">
                                                        <div class="col-md-4 d-flex flex-column">
                                                            <div class="rating-box">
                                                                <h1 class="pt-4">4.0</h1>
                                                                <p class="">out of 5</p>
                                                            </div>
                                                            <div>
                                                                <span class="fa fa-star star-active mx-1"></span>
                                                                <span class="fa fa-star star-active mx-1"></span>
                                                                <span class="fa fa-star star-active mx-1"></span>
                                                                <span class="fa fa-star star-active mx-1"></span>
                                                                <span class="fa fa-star star-inactive mx-1"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="rating-bar0 justify-content-center">
                                                                <table class="text-left mx-auto">
                                                                    <tr>
                                                                        <td class="rating-label">Excellent</td>
                                                                        <td class="rating-bar">
                                                                            <div class="bar-container">
                                                                                <div class="bar-5"></div>
                                                                            </div>
                                                                        </td>
                                                                        <td class="text-right">123</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="rating-label">Good</td>
                                                                        <td class="rating-bar">
                                                                            <div class="bar-container">
                                                                                <div class="bar-4"></div>
                                                                            </div>
                                                                        </td>
                                                                        <td class="text-right">23</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="rating-label">Average</td>
                                                                        <td class="rating-bar">
                                                                            <div class="bar-container">
                                                                                <div class="bar-3"></div>
                                                                            </div>
                                                                        </td>
                                                                        <td class="text-right">10</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="rating-label">Poor</td>
                                                                        <td class="rating-bar">
                                                                            <div class="bar-container">
                                                                                <div class="bar-2"></div>
                                                                            </div>
                                                                        </td>
                                                                        <td class="text-right">3</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="rating-label">Terrible</td>
                                                                        <td class="rating-bar">
                                                                            <div class="bar-container">
                                                                                <div class="bar-1"></div>
                                                                            </div>
                                                                        </td>
                                                                        <td class="text-right">0</td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="row d-flex">
                                                        <div class="">
                                                            <img class="profile-pic" src="https://i.imgur.com/V3ICjlm.jpg">
                                                        </div>
                                                        <div class="d-flex flex-column">
                                                            <h3 class="mt-2 mb-0">Vikram jit Singh</h3>
                                                            <div>
                                                                <p class="text-left">
                                                                    <span class="text-muted">4.0</span>
                                                                    <span class="fa fa-star star-active ml-3"></span>
                                                                    <span class="fa fa-star star-active"></span>
                                                                    <span class="fa fa-star star-active"></span>
                                                                    <span class="fa fa-star star-active"></span>
                                                                    <span class="fa fa-star star-inactive"></span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="ml-auto">
                                                            <p class="text-muted pt-5 pt-sm-3">10 Sept</p>
                                                        </div>
                                                    </div>
                                                    <div class="row text-left">
                                                        <h4 class="blue-text mt-3">"An awesome activity to experience"</h4>
                                                        <p class="content">If you really enjoy spending your vacation 'on water' or would like to try something new and exciting for the first time.</p>
                                                    </div>
                                                    <div class="row text-left">
                                                        <img class="pic" src="https://i.imgur.com/kjcZcfv.jpg">
                                                        <img class="pic" src="https://i.imgur.com/SjBwAgs.jpg">
                                                        <img class="pic" src="https://i.imgur.com/IgHpsBh.jpg">
                                                    </div>
                                                    <div class="row text-left mt-4">
                                                        <div class="like mr-3 vote">
                                                            <img src="https://i.imgur.com/mHSQOaX.png"><span class="blue-text pl-2">20</span>
                                                        </div>
                                                        <div class="unlike vote">
                                                            <img src="https://i.imgur.com/bFBO3J7.png"><span class="text-muted pl-2">4</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                        </section>
                    </div>
                </div>
            </div>
        </section>
    </main>
    }
    else {
        <h1>Sorguda bir hata oluştu</h1>
    }

