@using YemekTarifleri.DataBase;
@using YemekTarifleri.Models
@{
    ApplicationConnectionDb db = new ApplicationConnectionDb();
    var categories = db.categories.ToList(); 
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.title - YemekTarifleri</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/YemekTarifleri.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/RecipeCollection.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/search.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 row">
            <div class="container-fluid col-lg-4">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="font-family: 'Luminari', fantasy;">YemekTarifleri</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Kategoriler
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                
                                @foreach (Category item in categories)
                                {
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Category" asp-action="CategoryList" asp-route-categoryId="@item.id" asp-route-categoryName="@item.name">@item.name (@item.piece)</a></li>
                                        
                                 }


                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Privacy" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <form method="post" action="/Search/Search">
                    <div class="custom-search-input">
                        <div class="input-group">
                            <input type="text" class="search-query form-control" placeholder="Search" name="searchInput" />
                            <span class="input-group-btn">
                                <button type="submit">
                                    <span class="fa fa-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>

            </div>

            <div class="col-lg-4"></div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">

            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - YemekTarifleri - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
       
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

