@{
    
    //var path1 = "Image/patatesli-tavuk-yahnisi.jpg";
    var path2 = "Image/avatar.jpg";


    var recipesWithUsers = ViewBag.RecipesWithUsers;
    Recipe isMealOfDay = ViewBag.IsMealOfDay; 
}


<!-- Page Content -->
<div class="container">
    @if (isMealOfDay != null)
    {
        <!-- Portfolio Item Heading -->
    <h1 class="my-4" style="font-family: 'Comic Sans MS', cursive, sans-serif">
        Günün Yemeği
    </h1>
        <div style="text-align:center">


            <!-- Portfolio Item Row -->
            <div class="row">

                <div class="col-md-8">
                    <img class="img-fluid" src=@isMealOfDay.image alt="" style="height: 450px;width:auto;border-radius:3%">
                </div>

                <div class="col-md-4">
                    <h2 class="my-3" style="font-family: 'Comic Sans MS', cursive, sans-serif">
                        @isMealOfDay.name
                    </h2>
                    <h4 class="my-3" style="font-family: 'Comic Sans MS', cursive, sans-serif">İçindekiler</h4>
                    <ul>
                        <li>@isMealOfDay.ingredients</li>
                    </ul>
                    <h4 class="my-3" style="font-family: 'Comic Sans MS', cursive, sans-serif">Yapılışı</h4>
                    <ul>
                        <li>@isMealOfDay.cooking</li>
                    </ul>
                </div>

            </div>



        </div>
    }
    else
    {
        <h1>Günün Yemeği Belirlenmedi</h1>
    }


    <!-- /.row -->
    <!-- Related Projects Row -->
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <h1 class="my-4">
            <small style="font-family: 'Comic Sans MS', cursive, sans-serif">Tarifler</small>
        </h1>

        <div class="row">
            <div class="row mb-5">
                @if (recipesWithUsers != null)
                {
                    foreach (Recipe item in recipesWithUsers)
                    {
                        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                            <div class="card card-inverse card-info">
                                @if (item.image != null)
                                {
                                    <img class="card-img-top" src=@item.image>
                                }
                                else
                                {
                                    <img class="card-img-top" src=@path2>
                                }
                                <div class="card-block">
                                    <figure class="profile">
                                        @if (item.user != null)
                                        {
                                            <img src=@item.user.avatar class="profile-avatar" alt="">
                                        }
                                        else
                                        {
                                            <img src=@path2 class="profile-avatar" alt="">
                                        }

                                    </figure>
                                    <h6 class="card-title mt-3">@item.user?.nameAndSurname</h6>
                                    <div>
                                        <h4>
                                            <a asp-area="" asp-controller="DetailRecipe" asp-action="DetailRecipe" asp-route-detailId="@item.id" style="text-decoration:none;color:#305D90">@item.name</a>

                                        </h4>
                                    </div>
                                    <div class="card-text">
                                        <h6>İçindekiler:</h6>
                                        @item.ingredients
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <small>@item.date</small>

                                </div>
                                <asp:Button ID="Button1" runat="server" Text="Sayfaya Git" OnClick="Button1_Click" />
                            </div>
                        </div>
                    }
                }
                else
                {
                    <h1>Tarif Eklenmedi</h1>
                }
            </div>

        </div>
    </div>
</div>
